[
    {
        "name": "${ecs_container_name}",
        "image": "${envoy_image}",
        "dockerLabels": ${dockerLabels},
        "user": "1337:1337",
        "essential": true,
        "portMappings": [      
            {
            "containerPort": 9901,
            "hostPort": 9901,
            "protocol": "tcp"
            }
        ],      
        "environment": ${environment_variables},
        ${envoy_log_configuration}
        "healthCheck": ${envoy_healthcheck},
        "ulimits": [
            {
            "softLimit": 15000,
            "hardLimit": 15000,
            "name": "nofile"
            }
        ]        
    }
]