[
    {
        "name": "APPMESH_RESOURCE_ARN",
        "value": "${app_mesh_resource_arn}"
    },
    {
        "name": "ENVOY_LOG_LEVEL",
        "value": "${envoy_log_level}"
    },
    {
        "name": "ENABLE_ENVOY_DATADOG_TRACING",
        "value": "1"
    },
    {
        "name": "DATADOG_TRACER_PORT",
        "value": "8126"
    },
    {
        "name": "DATADOG_TRACER_ADDRESS",
        "value": "127.0.0.1"
    }
]